body {
    background-color: #c5dced;
}

#nav {
    background-color: rgb(76, 76, 171);
    text-align: center;
    padding: 5px;
    color: white;
}

#nav li {
    display: inline-block;
    position: relative;
    text-align: center;
    padding: 5px;
    color: white;
}

#nav li:hover {
    background-color: rgb(2, 198, 198);
}

#nav li a {
  color: white;
}

#nav li a:focus {
  color: black;
}

#carousel {
    width: 800px;
    height: 600px;
    position: relative;
    overflow: hidden;
    margin: 20px auto;
    border: 2px solid #ccc;
}

#carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-box {
    width: 50%;
    border: 2px solid black;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    align-items: center;
    background-color: lightcyan;
    margin: 20px auto;
    text-align: center;
}

#center {
    text-align: center;
}

.buttons {
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

.map-button {
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.15385;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.map-button:hover,
.map-button:focus {
  background-color: #07c;
}

.map-button:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.map-button:active {
  background-color: #0064bd;
  box-shadow: none;
}

.roulette-button {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 20px;
}

.roulette-button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.roulette-button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.roulette-button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.about-button {
  background-color: #36A9AE;
  background-image: linear-gradient(#37ADB2, #329CA0);
  border: 1px solid #2A8387;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,".SFNSDisplay-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 20px;
  line-height: 100%;
  margin: 0;
  outline: 0;
  padding: 11px 15px 12px;
  text-align: center;
  transition: box-shadow .05s ease-in-out,opacity .05s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

.about-button:hover {
  box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px inset, rgba(0, 0, 0, 0.4) 0 1px 2px;
  text-decoration: none;
  transition-duration: .15s, .15s;
}

.about-button:active {
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
}

.about-button:disabled {
  cursor: not-allowed;
  opacity: .6;
}

.about-button:disabled:active {
  pointer-events: none;
}

.about-button:disabled:hover {
  box-shadow: none;
}

#word {
    width: 50%;
    border: 2px solid black;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    align-items: center;
    background-color: rgb(175, 237, 237);
    margin: 20px auto;
    text-align: center;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    width: 100%;
}

.fbi {
    max-width: 15%;
    height: auto;
    display: block;
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    width: 100%;
}

.vid {
    max-width: 60%;
    display: block;
}

#criminal-names {
    width: 50%;
    border: 2px solid black;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 50px;
    align-items: center;
    background-color: lightcyan;
    margin: 20px auto;
    text-align: left;
}

.notify-button {
  color: #fff;
  padding: 15px 25px;
  background-color: #38D2D2;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  font-weight: bold;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  cursor: pointer;
}